@model IEnumerable<Extraclase.Models.Temas>

@{
    ViewBag.Title = "Seleccion";
    var listItems = ViewBag.list;
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Materia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grado)
        </th>
    </tr>
            <td>
                @Html.DropDownList("Exemplo", new SelectList(ViewBag.list, "Materia"))
            </td>
            <td>
                @Html.DropDownList("Exemplo", new SelectList(ViewBag.grados, "grados"))
            </td>
</table>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div class="row">
        <div class="col-lg-12">
            <fieldset>
                <legend>Nivel</legend>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.Grado)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Exemplo", new SelectList(ViewBag.grados, "grados"))
                </div>
                <br />
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.Materia)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Exemplo", new SelectList(ViewBag.list, "Materia"))
                </div>
                <br />
                <input type="submit" class="btn btn-primary" value="Aceptar" />
            </fieldset>
        </div>
    </div>
}